<a href="https://colab.research.google.com/github/Annie-Yeeun-Jang/dacon_timeseries/blob/main/final_model/%EC%8B%9C%EA%B3%84%EC%97%B4_1%ED%8C%80_0612_private_inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

test 데이터 전처리 후 inference
=> ulsan_weather_06, dangjin_weather_06 최신 업데이트 버전으로 가져오기

* 이미지 한 장이 하루여야 함
* 72시간의 데이터를 갖고 73번째 시간대의 데이터를 예측하는것

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from tqdm import tqdm
from google.colab import drive
from datetime import datetime, timedelta

import math
import time
import random

import lightgbm as lgb
from sklearn.model_selection import cross_val_score, train_test_split, KFold, GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.externals import joblib

drive.mount('./gdrive', force_remount=True)
plt.style.use("fivethirtyeight")
plt.rc('font', family='NanumBarunGothic')
plt.rc('axes', unicode_minus=False)
warnings.filterwarnings(action='ignore')

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

Mounted at ./gdrive

In [ ]:
'''
dangjin_fcst = pd.read_csv("/content/gdrive/MyDrive/dacon_timeseries/final_model/new_dangjin_fcst.csv")
ulsan_fcst = pd.read_csv("/content/gdrive/MyDrive/dacon_timeseries/final_model/new_ulsan_fcst.csv")
energy = pd.read_csv("/content/gdrive/MyDrive/dacon_timeseries/final_model/new_energy.csv")
'''

In [ ]:
dangjin_weather_06 = pd.read_csv("/content/gdrive/MyDrive/dacon_timeseries/final_model/private_data/dangjin_weather_06.csv")
ulsan_weather_06 = pd.read_csv("/content/gdrive/MyDrive/dacon_timeseries/final_model/private_data/ulsan_weather_06.csv")

In [ ]:
dangjin_weather_06

           Forecast_time  Humidity  ...           적경           적위
0    2021-06-01 01:00:00      76.0  ...  04 36 14.12  22 02 21.29
1    2021-06-01 02:00:00      76.0  ...  04 36 24.48  22 02 41.83
2    2021-06-01 03:00:00      77.0  ...  04 36 34.83  22 03 02.46
3    2021-06-01 04:00:00      72.0  ...  04 36 45.16  22 03 23.15
4    2021-06-01 05:00:00      85.0  ...  04 36 55.46  22 03 43.89
..                   ...       ...  ...          ...          ...
307  2021-06-13 19:00:00      60.0  ...  05 28 50.73  23 14 31.66
308  2021-06-13 20:00:00      60.0  ...  05 29 01.15  23 14 38.84
309  2021-06-13 21:00:00      60.0  ...  05 29 11.59  23 14 46.04
310  2021-06-13 22:00:00      60.0  ...  05 29 22.07  23 14 53.28
311  2021-06-13 23:00:00      60.0  ...  05 29 32.56  23 15 00.58

[312 rows x 10 columns]

In [ ]:
def interpolatee(dangjin_fcst):
  dangjin_fcst['Temperature'] = dangjin_fcst['Temperature'].interpolate()  #interpolate() 구간 따로 안정하고 column 단위로 통째로 적용하면 되는거 맞음
  #dangjin_fcst['PrecipitationForm'] = dangjin_fcst['PrecipitationForm'].interpolate()
  #dangjin_fcst['PrecipitationProb'] = dangjin_fcst['PrecipitationProb'].interpolate()
  dangjin_fcst['Humidity'] = dangjin_fcst['Humidity'].interpolate()
  dangjin_fcst['WindSpeed'] = dangjin_fcst['WindSpeed'].interpolate()
  dangjin_fcst['Cloud'] = dangjin_fcst['Cloud'].interpolate()
  #dangjin_fcst['Precipitation'] = dangjin_fcst['Precipitation'].interpolate()
  #dangjin_fcst['Snow'] = dangjin_fcst['Snow'].interpolate()
  return dangjin_fcst

In [ ]:
dangjin_weather_06 = interpolatee(dangjin_weather_06)
ulsan_weather_06 = interpolatee(ulsan_weather_06)

In [ ]:
#Wind Direction 항목 angle에서 방향표시로 바꿔주기
def angle_to_dir(x):
    if pd.isnull(x):
        return np.nan
    elif x >= 22.5 and x <67.5:
        return 'NE'
    elif x >= 67.5 and x < 112.5:
        return 'E'
    elif x >= 112.5 and x < 157.5:
        return 'SE'
    elif x >= 157.5 and x < 202.5:
        return 'S'
    elif x >= 202.5 and x < 247.5:
        return 'WS'
    elif x >= 247.5 and x < 292.5:
        return 'W'
    elif x >= 292.5 and x < 337.5:
        return 'NW'
    elif x >= 337.5 or x < 22.5:
        return 'N'

def angle_to_cos(x):
    return np.cos(np.pi/180*(x-90))
def angle_to_sin(x):
    return np.sin(np.pi/180*(x+90))

In [ ]:
dangjin_weather_06['WindDirection_x'] = dangjin_weather_06['WindDirection'].apply(angle_to_cos)  #Q. 어차피 다 나눠놨는데 싸인 코싸인은 왜 씌우는것..?
dangjin_weather_06['WindDirection_y'] = dangjin_weather_06['WindDirection'].apply(angle_to_sin)
dangjin_weather_06['Wind_x'] = dangjin_weather_06['WindDirection_x'] * dangjin_weather_06['WindSpeed']
dangjin_weather_06['Wind_y'] = dangjin_weather_06['WindDirection_y'] * dangjin_weather_06['WindSpeed']

ulsan_weather_06['WindDirection_x'] = ulsan_weather_06['WindDirection'].apply(angle_to_cos)
ulsan_weather_06['WindDirection_y'] = ulsan_weather_06['WindDirection'].apply(angle_to_sin)
ulsan_weather_06['Wind_x'] = ulsan_weather_06['WindDirection_x'] * ulsan_weather_06['WindSpeed']
ulsan_weather_06['Wind_y'] = ulsan_weather_06['WindDirection_y'] * ulsan_weather_06['WindSpeed']


dangjin_weather_06['WindDirection'] = dangjin_weather_06['WindDirection'].interpolate()
ulsan_weather_06['WindDirection'] = ulsan_weather_06['WindDirection'].interpolate()

#dangjin_weather_06['WindDirection_catg'] = dangjin_weather_06['WindDirection'].apply(angle_to_dir)
#ulsan_weather_06['WindDirection_catg'] = ulsan_weather_06['WindDirection'].apply(angle_to_dir)

In [ ]:
dangjin_weather_06['Wind_x'] = dangjin_weather_06['Wind_x'].interpolate()
dangjin_weather_06['Wind_y'] = dangjin_weather_06['Wind_y'].interpolate()

ulsan_weather_06['Wind_x'] = ulsan_weather_06['Wind_x'].interpolate()
ulsan_weather_06['Wind_y'] = ulsan_weather_06['Wind_y'].interpolate()

In [ ]:
dangjin_weather_06['hour'] = pd.to_datetime(dangjin_weather_06['Forecast_time']).dt.hour
dangjin_weather_06['day'] = pd.to_datetime(dangjin_weather_06['Forecast_time']).dt.day
dangjin_weather_06['month'] = pd.to_datetime(dangjin_weather_06['Forecast_time']).dt.month

ulsan_weather_06['hour'] = pd.to_datetime(ulsan_weather_06['Forecast_time']).dt.hour
ulsan_weather_06['day'] = pd.to_datetime(ulsan_weather_06['Forecast_time']).dt.day
ulsan_weather_06['month'] = pd.to_datetime(ulsan_weather_06['Forecast_time']).dt.month

In [ ]:
#이슬점 직접 계산해서 추가
b = 17.62
c = 243.12
gamma = (b * dangjin_weather_06['Temperature'] /(c + dangjin_weather_06['Temperature'])) + np.log(dangjin_weather_06['Humidity'] / 100.0)
dewpoint = (c * gamma) / (b - gamma)
dangjin_weather_06['DewPoint'] = dewpoint  

gamma = (b *ulsan_weather_06['Temperature'] /(c + ulsan_weather_06['Temperature'])) + np.log(ulsan_weather_06['Humidity'] / 100.0)
dewpoint = (c * gamma) / (b - gamma)
ulsan_weather_06['DewPoint'] = dewpoint

In [ ]:
#형태 다듬기 (?)
dangjin_weather_06['방위각'] = dangjin_weather_06['방위각'].apply(lambda x : int(x[:3]))
dangjin_weather_06['고도'] = dangjin_weather_06['고도'].apply(lambda x : int(x.split(" ")[0]))
dangjin_weather_06['적경'] = dangjin_weather_06['적경'].apply(lambda x : float(x.split(" ")[0] + "." + x.split(" ")[1] + x.split(" ")[2][:2]))
dangjin_weather_06['적위'] = dangjin_weather_06['적위'].apply(lambda x : float(x.split(" ")[0] + "." + x.split(" ")[1] + x.split(" ")[2][:2]))

ulsan_weather_06['방위각'] = ulsan_weather_06['방위각'].apply(lambda x : int(x[:3]))
ulsan_weather_06['고도'] = ulsan_weather_06['고도'].apply(lambda x : int(x.split(" ")[0]))
ulsan_weather_06['적경'] = ulsan_weather_06['적경'].apply(lambda x : float(x.split(" ")[0] + "." + x.split(" ")[1] + x.split(" ")[2][:2]))
ulsan_weather_06['적위'] = ulsan_weather_06['적위'].apply(lambda x : float(x.split(" ")[0] + "." + x.split(" ")[1] + x.split(" ")[2][:2]))

In [ ]:
using_col = ['Temperature', 'DewPoint', 'Humidity', 'Cloud', 'Wind_x', 'Wind_y',
             'hour', 'month', '방위각', '고도', '적경', '적위']

dangjin_weather_06 = dangjin_weather_06[using_col].fillna(0)
ulsan_weather_06 = ulsan_weather_06[using_col].fillna(0)

In [ ]:
# Shift => period만큼 데이터 옮겨서 concat
# 해당 시간대에 대해 당일 예보, 하루 전 예보, 이틀 전 예보 이렇게 column을 늘려줌
def shift(df, period):
  target = pd.DataFrame()
  for i in range(period, -1, -1): #period부터 거꾸로 1칸씩 (71부터 0까지 출력)
    tmp = df.shift(i) #i는 period
    target = pd.concat([target, tmp], axis = 1)
  return target

In [ ]:
dangjin_weather_06

     Temperature   DewPoint  Humidity  Cloud  ...  방위각  고도      적경       적위
0           15.9  11.672001      76.0    7.0  ...    7 -30  4.3614  22.0221
1           15.1  10.897865      76.0    5.0  ...   23 -27  4.3624  22.0241
2           15.7  11.676429      77.0    6.0  ...   36 -21  4.3634  22.0302
3           16.5  11.432089      72.0    7.0  ...   48 -13  4.3645  22.0323
4           15.1  12.594910      85.0    6.0  ...   58  -3  4.3655  22.0343
..           ...        ...       ...    ...  ...  ...  ..     ...      ...
307         26.0  17.632037      60.0    1.0  ...  292   8  5.2850  23.1431
308         26.0  17.632037      60.0    1.0  ...  301  -1  5.2901  23.1438
309         26.0  17.632037      60.0    1.0  ...  311 -11  5.2911  23.1446
310         26.0  17.632037      60.0    1.0  ...  322 -19  5.2922  23.1453
311         26.0  17.632037      60.0    1.0  ...  335 -25  5.2932  23.1500

[312 rows x 12 columns]

In [ ]:
dangjin_weather_06 = shift(dangjin_weather_06, 71) 
ulsan_weather_06 = shift(ulsan_weather_06, 71)

In [ ]:
dangjin_weather_06

     Temperature   DewPoint  Humidity  Cloud  ...  방위각  고도      적경       적위
0            NaN        NaN       NaN    NaN  ...    7 -30  4.3614  22.0221
1            NaN        NaN       NaN    NaN  ...   23 -27  4.3624  22.0241
2            NaN        NaN       NaN    NaN  ...   36 -21  4.3634  22.0302
3            NaN        NaN       NaN    NaN  ...   48 -13  4.3645  22.0323
4            NaN        NaN       NaN    NaN  ...   58  -3  4.3655  22.0343
..           ...        ...       ...    ...  ...  ...  ..     ...      ...
307         23.5  16.538120      65.0   10.0  ...  292   8  5.2850  23.1431
308         20.8  18.737684      88.0   10.0  ...  301  -1  5.2901  23.1438
309         20.4  18.161646      87.0   10.0  ...  311 -11  5.2911  23.1446
310         20.7  19.176528      91.0   10.0  ...  322 -19  5.2922  23.1453
311         20.7  19.698490      94.0   10.0  ...  335 -25  5.2932  23.1500

[312 rows x 864 columns]

In [ ]:
'''
dangjin_fcst_train = dangjin_fcst.iloc[:-24 * 28]
dangjin_fcst_test = dangjin_fcst.iloc[-24 * 28:]

ulsan_fcst_train = ulsan_fcst.iloc[:-24 * 28]
ulsan_fcst_test = ulsan_fcst.iloc[-24 * 28:]
'''

In [ ]:
#앞에 72개는 nan 제거

dangjin_weather_06 = dangjin_weather_06[(dangjin_weather_06.isnull().sum(axis = 1) <= 0).values]
ulsan_weather_06 = ulsan_weather_06[(ulsan_weather_06.isnull().sum(axis = 1) <= 0).values]

In [ ]:
dangjin_weather_06

     Temperature   DewPoint  Humidity  Cloud  ...  방위각  고도      적경       적위
71          15.9  11.672001      76.0    7.0  ...  351 -30  4.4822  22.2450
72          15.1  10.897865      76.0    5.0  ...    7 -30  4.4832  22.2508
73          15.7  11.676429      77.0    6.0  ...   22 -27  4.4842  22.2525
74          16.5  11.432089      72.0    7.0  ...   36 -21  4.4853  22.2543
75          15.1  12.594910      85.0    6.0  ...   48 -12  4.4903  22.2601
..           ...        ...       ...    ...  ...  ...  ..     ...      ...
307         23.5  16.538120      65.0   10.0  ...  292   8  5.2850  23.1431
308         20.8  18.737684      88.0   10.0  ...  301  -1  5.2901  23.1438
309         20.4  18.161646      87.0   10.0  ...  311 -11  5.2911  23.1446
310         20.7  19.176528      91.0   10.0  ...  322 -19  5.2922  23.1453
311         20.7  19.698490      94.0   10.0  ...  335 -25  5.2932  23.1500

[241 rows x 864 columns]

In [ ]:
#min max scaling
dangjin_min = dangjin_weather_06.min()
dangjin_max = dangjin_weather_06.max()

dangjin_weather_06 = (dangjin_weather_06 - dangjin_min) / (dangjin_max - dangjin_min)

In [ ]:
ulsan_min = ulsan_weather_06.min()
ulsan_max = ulsan_weather_06.max()

ulsan_weather_06 = (ulsan_weather_06 - ulsan_min) / (ulsan_max - ulsan_min)

# 2D Conv 모델

In [ ]:
import tensorflow as tf

reshape 해줌 => 이미지 가로 x 세로 해서 1296만 나오면 됨

하루에 해당하는 데이터가 1296이라서.ㅇㅇ

1296은 (72일(shift) 데이터) x (column 18개) 이다.

In [ ]:
dangjin_weather_06.shape

(241, 864)

In [ ]:
dangjin_weather_06 = dangjin_weather_06.values.reshape((dangjin_weather_06.shape[0], 72, 12, 1)) #(193, 864) -> (193, 72, 12, 1)
ulsan_weather_06 = ulsan_weather_06.values.reshape((ulsan_weather_06.shape[0], 72, 12, 1))

In [ ]:
dangjin_weather_06.shape

(241, 72, 12, 1)

In [ ]:
'''
dangjin_fcst_train = tf.image.resize(dangjin_fcst_train, (72, 32)) 
dangjin_fcst_test = tf.image.resize(dangjin_fcst_test, (72, 32))

ulsan_fcst_train = tf.image.resize(ulsan_fcst_train, (72, 32))
ulsan_fcst_test = tf.image.resize(ulsan_fcst_test, (72, 32))
'''

'\ndangjin_fcst_train = tf.image.resize(dangjin_fcst_train, (72, 32)) \ndangjin_fcst_test = tf.image.resize(dangjin_fcst_test, (72, 32))\n\nulsan_fcst_train = tf.image.resize(ulsan_fcst_train, (72, 32))\nulsan_fcst_test = tf.image.resize(ulsan_fcst_test, (72, 32))\n'

In [ ]:
dangjin_weather_06 = np.squeeze(dangjin_weather_06, axis = -1) 
dangjin_weather_06 = np.stack((dangjin_weather_06,)*3, axis = -1)  

ulsan_weather_06 = np.squeeze(ulsan_weather_06, axis = -1)
ulsan_weather_06 = np.stack((ulsan_weather_06,)*3, axis = -1)

In [ ]:
ulsan_weather_06.shape

(241, 72, 12, 3)

In [ ]:
dangjin_test = dangjin_weather_06[-24:]
ulsan_test = ulsan_weather_06[-24:]

In [ ]:
dangjin_test.shape

(24, 72, 12, 3)

* Inference

In [ ]:
floating_model0 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/floating_fold0.h5")
floating_model1 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/floating_fold1.h5")
floating_model2 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/floating_fold2.h5")
floating_model3 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/floating_fold3.h5")
floating_model4 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/floating_fold4.h5")

In [ ]:
floating0 = floating_model0.predict(dangjin_test)
floating1 = floating_model1.predict(dangjin_test)
floating2 = floating_model2.predict(dangjin_test)
floating3 = floating_model3.predict(dangjin_test)
floating4 = floating_model4.predict(dangjin_test)

WARNING:tensorflow:5 out of the last 8 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f65ea31b320> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [ ]:
floating3

array([[  4.1642866],
       [  4.1319904],
       [  4.652999 ],
       [  5.3104715],
       [  5.8972178],
       [  7.677016 ],
       [ 11.7698765],
       [ 21.898176 ],
       [ 34.521683 ],
       [ 63.667835 ],
       [160.07568  ],
       [279.0697   ],
       [393.27612  ],
       [479.4853   ],
       [488.52475  ],
       [443.07974  ],
       [316.0294   ],
       [181.72922  ],
       [ 80.3556   ],
       [ 22.96119  ],
       [ 10.835392 ],
       [  6.04546  ],
       [  4.4860997],
       [  4.3186045]], dtype=float32)

In [ ]:
warehouse_model0 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/warehouse_fold0.h5")
warehouse_model1 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/warehouse_fold1.h5")
warehouse_model2 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/warehouse_fold2.h5")
warehouse_model3 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/warehouse_fold3.h5")
warehouse_model4 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/warehouse_fold4.h5")

In [ ]:
warehouse0 = warehouse_model0.predict(dangjin_test)
warehouse1 = warehouse_model1.predict(dangjin_test)
warehouse2 = warehouse_model2.predict(dangjin_test)
warehouse3 = warehouse_model3.predict(dangjin_test)
warehouse4 = warehouse_model4.predict(dangjin_test)

WARNING:tensorflow:6 out of the last 9 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f65ea127b00> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [ ]:
dangjin_model0 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/dangjin_fold0.h5")
dangjin_model1 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/dangjin_fold1.h5")
dangjin_model2 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/dangjin_fold2.h5")
dangjin_model3 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/dangjin_fold3.h5")
dangjin_model4 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/dangjin_fold4.h5")

In [ ]:
dangjin0 = dangjin_model0.predict(dangjin_test)
dangjin1 = dangjin_model1.predict(dangjin_test)
dangjin2 = dangjin_model2.predict(dangjin_test)
dangjin3 = dangjin_model3.predict(dangjin_test)
dangjin4 = dangjin_model4.predict(dangjin_test)

In [ ]:
ulsan_model0 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/ulsan_fold0.h5")
ulsan_model1 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/ulsan_fold1.h5")
ulsan_model2 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/ulsan_fold2.h5")
ulsan_model3 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/ulsan_fold3.h5")
ulsan_model4 = tf.keras.models.load_model("/content/gdrive/MyDrive/dacon_timeseries/final_model/model/ulsan_fold4.h5")

In [ ]:
ulsan0 = ulsan_model0.predict(ulsan_test)
ulsan1 = ulsan_model1.predict(ulsan_test)
ulsan2 = ulsan_model2.predict(ulsan_test)
ulsan3 = ulsan_model3.predict(ulsan_test)
ulsan4 = ulsan_model4.predict(ulsan_test)

In [ ]:
floating = (floating0 + floating1 + floating2 + floating3 + floating4) / 5
warehouse = (warehouse0 + warehouse1 + warehouse2 + warehouse3 + warehouse4 ) / 5
dangjin = (dangjin0 + dangjin1 + dangjin2 + dangjin3 + dangjin4) / 5
ulsan = (ulsan0 + ulsan1 + ulsan2 + ulsan3 + ulsan4) / 5

In [ ]:
sample_submission = pd.read_csv("/content/gdrive/MyDrive/dacon_timeseries/sample_submission.csv")

In [ ]:
#sample_submission.loc[743:766] #6/12일
sample_submission.loc[767:790] #6/13일    #loc는 끝 인덱스도 포함....

                    time  dangjin_floating  dangjin_warehouse  dangjin  ulsan
767  2021-06-12 24:00:00                 0                  0        0      0
768  2021-06-13 01:00:00                 0                  0        0      0
769  2021-06-13 02:00:00                 0                  0        0      0
770  2021-06-13 03:00:00                 0                  0        0      0
771  2021-06-13 04:00:00                 0                  0        0      0
772  2021-06-13 05:00:00                 0                  0        0      0
773  2021-06-13 06:00:00                 0                  0        0      0
774  2021-06-13 07:00:00                 0                  0        0      0
775  2021-06-13 08:00:00                 0                  0        0      0
776  2021-06-13 09:00:00                 0                  0        0      0
777  2021-06-13 10:00:00                 0                  0        0      0
778  2021-06-13 11:00:00                 0                  0        0      0
779  2021-06-13 12:00:00                 0                  0        0      0
780  2021-06-13 13:00:00                 0                  0        0      0
781  2021-06-13 14:00:00                 0                  0        0      0
782  2021-06-13 15:00:00                 0                  0        0      0
783  2021-06-13 16:00:00                 0                  0        0      0
784  2021-06-13 17:00:00                 0                  0        0      0
785  2021-06-13 18:00:00                 0                  0        0      0
786  2021-06-13 19:00:00                 0                  0        0      0
787  2021-06-13 20:00:00                 0                  0        0      0
788  2021-06-13 21:00:00                 0                  0        0      0
789  2021-06-13 22:00:00                 0                  0        0      0
790  2021-06-13 23:00:00                 0                  0        0      0

In [ ]:
floating.shape

(24, 1)

In [ ]:
sample_submission.loc[767:790].shape

(24, 5)

In [ ]:
sample_submission.loc[767:790, 'dangjin_floating'] = floating
sample_submission.loc[767:790, 'dangjin_warehouse'] = warehouse
sample_submission.loc[767:790, 'dangjin'] = dangjin
sample_submission.loc[767:790, 'ulsan'] = ulsan

In [ ]:
sample_submission.loc[766:791]

                    time  dangjin_floating  ...     dangjin       ulsan
766  2021-06-12 23:00:00          0.000000  ...    0.000000    0.000000
767  2021-06-12 24:00:00          5.992369  ...   13.645849   15.432528
768  2021-06-13 01:00:00          7.077891  ...   12.768064   24.636524
769  2021-06-13 02:00:00          7.181551  ...   12.866567   32.891727
770  2021-06-13 03:00:00          6.684646  ...   14.113556   39.352192
771  2021-06-13 04:00:00          8.285769  ...   16.095493   44.785057
772  2021-06-13 05:00:00          9.254688  ...   20.577190   51.454926
773  2021-06-13 06:00:00          9.635546  ...   18.769871   61.477959
774  2021-06-13 07:00:00         13.999456  ...   24.614481   86.428764
775  2021-06-13 08:00:00         26.907581  ...   44.564167  131.539368
776  2021-06-13 09:00:00         61.456268  ...   78.369614  174.703003
777  2021-06-13 10:00:00        110.606262  ...  127.552353  211.372726
778  2021-06-13 11:00:00        174.093658  ...  187.093719  237.942673
779  2021-06-13 12:00:00        232.756149  ...  249.846802  256.365112
780  2021-06-13 13:00:00        282.240448  ...  290.116730  259.195129
781  2021-06-13 14:00:00        294.350403  ...  296.069397  247.756470
782  2021-06-13 15:00:00        279.409973  ...  284.356750  223.610794
783  2021-06-13 16:00:00        227.612701  ...  234.112823  188.578598
784  2021-06-13 17:00:00        159.088287  ...  169.310883  151.049637
785  2021-06-13 18:00:00         84.286430  ...  111.992874  120.993774
786  2021-06-13 19:00:00         39.221252  ...   83.859070  101.807991
787  2021-06-13 20:00:00         28.915253  ...   65.375595   85.849144
788  2021-06-13 21:00:00         18.136848  ...   34.528484   70.776047
789  2021-06-13 22:00:00         15.667967  ...   25.583187   57.637321
790  2021-06-13 23:00:00         18.557102  ...   24.500738   48.461014
791  2021-06-13 24:00:00          0.000000  ...    0.000000    0.000000

[26 rows x 5 columns]

In [ ]:
sample_submission.to_csv("/content/gdrive/MyDrive/dacon_timeseries/final_model/0613_submission.csv", index = False)

In [ ]:
ls

0608_cnn_5fold.csv  gdrive/  sample_data/